ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: #181818;
  padding: 8px 0;
  padding-bottom: 3px;
}

li a {
  display: inline;
  text-decoration: none;
  font-family: 'Segoe Script';
  font-size: 12px;
}