#heading {
  color: #33b002;
  text-align: center;
  font-size: 14px;  
  margin-bottom: 0;
  margin-top: 0;
}

.containerReminderHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: auto; /*90vw;*/
  margin: 5px auto;
  max-width: 450px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  height: 0;
}

.containerReminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: auto; /*90vw;*/
  margin: 5px auto;
  max-width: 450px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.containerReminderHeader h3 {
  font-weight: normal;
  text-transform: none;
  /*margin-bottom: 2rem;*/
  margin-bottom: 0rem;
  margin-top: 2px;
  font-size: 12px;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.person h4 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.person p {
  margin-bottom: 0;
  margin-top: 5px;
}

.containerReminder button {
  color: #fff;
  display: block;
  width: 100%;
  border-color: transparent;
  background: hsl(211, 27%, 70%);
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  /* outline: 1px solid rgba(242, 138, 178, 0.8); */
  cursor: pointer;
}

.containerReminder button:hover {
  background: hsl(211, 21%, 55%);
}